{{ define "main" }}
<div class="page-header">
  <h1>Classes</h1>
</div>
<br>
<section class="books-section">
    {{ range .RegularPages }}
    <div class="books-container classes-container-img">
      <img src="{{ .Params.Image }}"></img>
      <div class="books-card">
        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        <div class="classes-preview-meta">
          Number of Classes: {{ .Params.Classnum }}
          <br>
          {{ if eq .Params.Status "Completed" }}
            Status: Completed
            <br>
            End Date: {{ .Date.Format "January 2, 2006" }}
          {{ else if eq .Params.Status "WIP" }}
            Status: WIP
            <br>
            Last Updated: {{ .Date.Format "January 2, 2006" }}
          {{ end }}
          <br>
        </div>
        <hr>

        <p class="classes-preview-description">{{ .Description }}</p>

        <a href="{{ .Permalink }}" class="btn1">Read more</a>
      </div>
    </div>
  {{ end }}
</section>
<br>
{{ end }}


