.books-section {
  background-color: var(--bg-color);
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 1.5rem;
}

.books-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 21vw;
  width: 70vw;
  border-radius: 8px;
  overflow: hidden;
  background: var(--bg-color1);
  border: 1px solid rgba(128, 128, 128, 0.65);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.05);
  gap: 1rem;
  padding-right: 1rem;
  transition: var(--transition);
}

.books-container:hover {
  transform: scale(1.01);
  background: var(--bg-color2);
}

.books-container iframe {
  height: 21vw;
  width: 30vw;
  object-fit: cover;
  object-position: center;
  border: none;
}

.books-container img {
  height: 21vw;
  width: 20vw;
  object-fit: cover;
  object-position: center;
  border: none;
}

.books-card {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  gap: 0.35rem;
  padding: 2rem;
  width: 100%;
}

.books-card-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.books-card p {
  font-size: 1.2rem;
}

.books-card span {
  color: var(--accent-color2);
  font-size: 1.1rem;
}

.books-card h3 a {
  font-size: 2.1rem;
  color: var(--accent-color1);
  cursor: pointer;
  line-height: 2.3rem;
}


@media (max-width: 992px) {
  .books-section {
    width: 90vw;
  }

  .books-container {
    height: 43vw;
    width: 90vw;
  }

  .books-container iframe, img {
    height: 43vw;
  }

  .classes-container-img img {
    display: none;
  }

  .books-card p {
    font-size: 1.2rem;
  }

  .books-card h3 a {
    font-size: 1.6rem;
    line-height: 1.7rem;
  }
}

@media (max-width: 768px) {
  .books-container {
    height: 48vw;
    width: 90vw;
  }

  .books-container iframe, img {
    display: none;
  }
}

@media (max-width: 512px) {
  .books-section {
    gap: 0.5rem;
  }

  .books-container {
    height: auto;
  }

  .books-container iframe, img {
    display: none;
  }

  .books-card {
    gap: 0.2rem;
    padding: 1rem;
  }

  .books-card p {
    font-size: 1.2rem;
  }

  .books-card h3 a {
    font-size: 1.4rem;
    line-height: 1.5rem;
  }

  .books-card-btns a {
    font-size: 0.7rem;
  }
}

