.news-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.news-container {
  width: 40vw;
  margin: 0 auto;
}

.news-container h2 {
  width: 100%;
  color: var(--text-dark);
  font-weight: 500 !important;
  border-bottom: 2px solid var(--text-dark);
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.news-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.news-meta {
  display: flex;
  width: 100%;
  align-items: center;
}

.news-title {
  flex: 0 1 auto;
}

.news-date {
  margin-left: auto;
}


/* Single */
.post-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  width: 70vw;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding-top: 3rem;
}

.post-content {
  flex: 1;
}

.post-title {
  font-size: 36px;
  font-weight: bold;
  color: var(--accent-color1);
  margin-bottom: 20px;
}

.post-meta {
  font-size: 16px;
  opacity: 0.7;
  margin-bottom: 1.4rem;
  padding-bottom: 1.3rem;
  border-bottom: 2px solid var(--accent-color1)
}

.post-meta a {
  color: inherit;
  text-decoration: none;
}

.post-meta a:hover {
  text-decoration: underline;
}

.post-body {
  line-height: 1.8;
  font-size: 21px;
}

.post-body h2 {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 28px;
  color: var(--accent-color2);
  font-weight: bold;
}

.post-body h3 {
  margin-top: 25px;
  margin-bottom: 12px;
  font-size: 22px;
  color: #254F12;
  font-weight: 600;
}

.post-body p {
  margin-bottom: 20px;
}

.post-body ul {
  margin-left: 4rem;
  margin-bottom: 1.5rem;
}

.post-body img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 20px 0;
}

.post-body code {
  background: rgba(0, 0, 0, 0.1);
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 0.9em;
  overflow-x: auto;
  white-space : pre-wrap !important;
}

.post-body pre {
  background: rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 8px;
  overflow-x: auto;
  margin: 20px 0;
  white-space : pre-wrap !important;
}

.post-body pre code {
  background: none;
  padding: 0;
  overflow-x: auto;
  white-space : pre-wrap !important;
}

.post-tags {
  padding-top: 20px;
  margin-top: 1.4rem;
  border-top: 2px solid var(--accent-color1);
}

.giscus {
  width: 70vw;
  margin: 0 auto;
}


