.page-header {
  background-color: var(--accent-color1);
  color: var(--text-light);
  text-align: center;
  padding: 1rem 1.5rem;
}

.page-header h1 {
  font-size: 3rem;
}

@media (max-width: 1023px) {
  .page-header h1 {
    font-size: 1.6rem;
  }

  .page {
    display: flex;
    width: 80vw;
    margin: 0 auto;
  }
}

.single-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 70vw;
  margin-top: 3rem;
  gap: 5rem;
}

.single-content-section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
  width: 70vw;
  gap: 5rem;
}

.single-content {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.single-content iframe {
  height: 300px;
  width: 400px;
  display: block;
  object-fit: cover;
}

.single-content img {
  height: 300px;
  width: 400px;
  display: block;
  object-fit: cover;
}

.single-meta {
  width: 100%;
  font-size: 1.2rem;
}

.single-meta h3 {
  color: var(--accent-color1);
}

.single-meta ul {
  list-style: none;
}

.single-meta-access {
  padding-left: 1rem !important;
}

.single-meta-access-book {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

.single-meta-access-book a {
  width: 100%;
}

.single-description {
  flex: 7;
  display: flex;
  flex-direction: column;
}

.single-description h3 {
  font-size: 2.3rem;
  color: var(--accent-color1);
  margin-bottom: 0.5rem;
}

.single-description p {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.single-description hr {
  margin-bottom: 0.8rem;
}

.post-navigation {
  padding: 30px;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  margin: 0 auto;
  gap: 20px;
}

.nav-button {
  flex: 1;
  padding: 20px;
  text-decoration: none;
  color: inherit;
  border: 1px solid rgba(128, 128, 128, 0.65);
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.nav-button:hover {
  background: rgba(54, 69, 79, 0.1);
  border: 1px solid rgba(128, 128, 128, 1);
}

.nav-label {
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0.7;
  margin-bottom: 8px;
}

.nav-title {
  font-size: 16px;
  font-weight: bold;
}

.nav-next {
  text-align: right !important;
}



@media (max-width: 1023px) {
  .post-container,
  .giscus {
    width: 90vw;
  }

  .post-container {
    gap: 0rem !important;
  }
}


.space {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

