{{ define "main" }}
<section class="about-section" id="about-mission">
  <div class="about-container" id="about-container-mission">
    <h2>Our Mission</h2>
    <p>
    To inspire global learners by returning knowledge and skills
    we have received.
    </p>
  </div>
</section>
<hr class="styled-hr">
<section class="about-section" id="about-founder">
  <div class="about-container">
    <h2>Founder</h2>
    <div id="about-founder-card">
      <img src="/img/avatar-founder.jpg" id="desktop-founder" alt="avatar">
      <div id="about-founder-description">
        <h3>Enoch Yu</h3>
        <img src="/img/avatar-founder.jpg" id="mobile-founder" alt="avatar">
        <p>Enoch is an ardent student who retains keen interest
        in pure math, machine learning, and quantitative finance.
        His previous accomplishments includes honorable mention
        from Korean Mathematical Olympiad (~300 in South Korea)
        and numerous awards from AMC. He currently dedicates his
        focus on making YouTube videos on various math topics
        and Nanum Learn. More on Enoch can be found in his
        <a href="https://enochyu.com">personal website</a>.</p>
      </div>
    </div>
  </div>
</section>

<section class="about-section" id="about-nanumlearn">
  <div class="about-container">
    <h2>About Nanum Learn</h2>
    <p>
    Nanum Learn is an educational initiative that aims to
    accelerate open learning by providing original and accessible
    resources such as books, handouts, and free classes.
    We aim to make the contents and resources more accessible
    by distributing the works under CC BY 4.0. Under the permissive
    license, the users are allowed to share and adapt for any
    purpose as long as an appropriate credit is given. For more
    information the use, please visit <a href="">LICENSE.md</a>.
    </p>
    <h3>What We Do</h3>
    <p>
    Nanum Learn provides numerous open resources and opportunities
    such as free books, handouts, and past/current classes. We create
    different open resources for numerous purposes including, but
    not limited to individual study and teaching. Moreover through
    open and live classes, we wish to return the knowledge and skills
    we received to the world just as we learned from public resources.
    </p>
    <h3>Motivation</h3>
    <p>
    Nanum Learn started with a spark and hope to show personal
    appreciations. When I first started studying for math olympiads,
    I was surprised to know that there aren't lots of free resources
    for the high division of national math olympiad. Open resources
    were either for middle school round or preview for paid resources
    with high prices. Therefore, I decided to study problems from
    different countries. There, I was blessed by free handouts that
    were just there in the internet! The handouts that could have been
    hidden behind high paywall were freely shared for countless students
    just like me.
    <br><br>
    Maybe the experience is personal. However, I believe there are
    thousands and millions of others who experienced similar
    situations. This spark for gratitude let me start creating
    open resources that were not yet available, or yet to be more
    polished. Again, I wish to share my gratitude towards all
    contributors to open knowledge, and sincerely wishes that Nanum
    Learn can be a platform for open resources that inspires
    global learners like me.
    </p>
  </div>
</section>

<section class="about-section" id="about-contribute">
  <div class="about-container">
    <h2>Contribute</h2>
    <p>
    First, thank you so much for your interest and your time.
    As you may have noticed from our purpose, we welcome and
    encourage contributions. That being said, no one is "qualified"
    to contribute to Nanum Learn. If you have the passion, we value
    all contributions from any skill levels and background!
    </p>
    <h3>How to Contribute</h3>
    <p>
    As a growing initiative, we have multiple areas where we look
    forward for community contributions. The list of areas is available
    <a href="">here</a>. If you have programming background, please
    open an issue or submit a pull request in our repository hosted
    in GitHub. If you are less familiar with Git, you can also submit
    a form <a href="">here</a>.
    <br><br>
    There will be no Contributor License Agreement. However, contributing
    will imply that you abide with our rules in <a href="">CONTRIBUTING.md</a>
    and AI Policy below. Thank you again for your time and efforts!
    </p>
    <h3>AI Policy</h3>
    <p>
    We believe that AI is a useful tool that can help us in numerous
    ways, and we actually encourage the use of AI for assistance.
    However, we value transparency, credits, and quality. Many AI
    generated contents fails to receive proper credits and quality
    checks. We will not and do not have the capacity to check if
    each contribution is AI generated. However, for transparency
    and trust between contributors, please disclose if your contribution
    is AI generated (no need for AI assistance). Below are some examples
    of different AI usage.
    <ul>
      <li>
        Examples of AI Assisted contents includes, but are not limited to:
      </li>
      <ul>
        <li>Spell checks for original contents</li>
        <li>Checking whether the content is correct</li>
        <li>Debugging any programming errors</li>
      </ul>
      <li>
        Examples of AI Generated contents include, but are not limited to:
      </li>
      <ul>
        <li>Using AI to generate contents and paraphrasing afterwards</li>
        <li>
          Using AI as a "search engine" as a sole way to find contents
          like definitions and theorems to include in the notes
        </li>
        <li>Using AI to rewrite a large portion of the original contents</li>
      </ul>
    </p>
  </div>
</section>

<section class="about-section" id="about-begin">
  <div class="about-container">
    <h2>Begin</h2>
    <div id="about-join-container">
      <div class="about-join-cards">
        {{ with .Site.Params.social.youtube }}
        <h3><a href="{{ . }}" target="_blank" rel="noopener"
               aria-label="YouTube"><i class="fab fa-youtube"></i>
               YouTube</a></h3>
        <p>Every recordings for the classes and related videos
           are uploaded in this channel.</p>
        <a href="{{ . }}" target="_blank" rel="noopener"
           aria-label="Youtube" class="btn1">Subscribe</a>
        {{ end }}
      </div>

      <div class="about-join-cards">
        <h3>Sign Up</h3>
        <p>Sign up for any newsletter and updates on live classes!</p>
      </div>
      
      <div class="about-join-cards">
        {{ with .Site.Params.social.github }}
        <h3><a href="{{ . }}" target="_blank" rel="noopener"
               aria-label="GitHub"><i class="fab fa-github"></i>
               GitHub</a></h3>
        <p>All source codes for related works are stored here.
            Pull requests are welcomed!</p>
        <a href="{{ . }}" target="_blank" rel="noopener"
           aria-label="GitHub" class="btn1">Contribute</a>
        {{ end }}
      </div>

      <div class="about-join-cards">
        <h3>Total Visits</h3>
        <p>Counted by Cloudflare</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

