{{ define "main" }}
<section class="about-section" id="about-mission">
  <div class="about-container">
    <h2>Our Mission</h2>
  </div>
</section>

<section class="about-section" id="about-founder">
  <div class="about-container">
    <h2>Founder</h2>
    <div id="about-founder-card">
      <img src="/img/avatar-founder.jpg" alt="avatar">
      <div id="about-founder-description">
        <h3>Enoch Yu</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </div>
</section>

<section class="about-section" id="about-contribute">
  <div class="about-container">
    <h2>Contribute</h2>
  </div>
</section>

<section class="about-section" id="about-begin">
  <div class="about-container">
    <h2>Begin</h2>
    add register YouTube or something like that here
  </div>
</section>
{{ end }}

