<header>
  <nav class="navbar">
    <div class="nav-container">
      <a href="/" class="nav-logo">Nanum Learn</a>

      <button class="nav-toggle" id="navToggle" aria-label="Toggle navigation">
        <img src="/img/burger.svg" alt="Menu" class="icon-burger">
        <img src="/img/close.svg" alt="Close" class="icon-close">
      </button>

      <ul class="nav-menu" id="navMenu">
        <li><a href="/books" class="nav-link {{ if eq .RelPermalink "/books/" }}active{{ end }}">Books</a></li>
        <li><a href="/handouts" class="nav-link {{ if eq .RelPermalink "/handouts/" }}active{{ end }}">Handouts</a></li>
        <li><a href="/classes" class="nav-link {{ if eq .RelPermalink "/classes/" }}active{{ end }}">Classes</a></li>
        <li><a href="/news" class="nav-link {{ if eq .RelPermalink "/news/" }}active{{ end }}">News</a></li>
        <li><a href="/about" class="nav-link {{ if eq .RelPermalink "/about/" }}active{{ end }}">About</a></li>
      </ul>
    </div>
  </nav>
</header>

