<section id="index-profile">
  <div id="index-profile-description">
    <div id="index-profile-logo">
      <h2>Nanum Learn</h2>
    </div>
    <p>"Learned to be Shared"
    <a href="/about">Read More
    <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    </p>
  </div>
  <div id="index-profile-join">
    <h2>Join Us</h2>
    <div id="index-profile-join-container">
      <div class="index-profile-join-cards">
        {{ with .Site.Params.social.youtube }}
        <h3><a href="{{ . }}" target="_blank" rel="noopener"
               aria-label="YouTube"><i class="fab fa-youtube"></i>
               YouTube</a></h3>
        <p>Every recordings for the classes and related videos are
        uploaded in this channel.</p>
        <a href="{{ . }}" target="_blank" rel="noopener"
           aria-label="Youtube" class="btn1">Subscribe</a>
        {{ end }}
      </div>

      <div class="index-profile-join-cards">
        <h3>Sign Up</h3>
        <p>Sign up for any newsletter and updates on live classes!</p>
      </div>

      <div class="index-profile-join-cards">
        {{ with .Site.Params.social.github }}
        <h3><a href="{{ . }}" target="_blank" rel="noopener"
               aria-label="GitHub"><i class="fab fa-github"></i>
               GitHub</a></h3>
        <p>All source codes for related works are stored here.
        Pull requests are welcomed!</p>
        <a href="{{ . }}" target="_blank" rel="noopener"
           aria-label="GitHub" class="btn1">Contribute</a>
        {{ end }}
      </div>
      
      <div class="index-profile-join-cards">
        <h3>Total Visits</h3>
        <p>Counted by Cloudflare</p>
      </div>
    </div>
  </div>
</section>

