{{ define "main" }}
<div class="page-header">
  <h1>Books</h1>
</div>
<br>
<section class="books-section">
  {{ range .RegularPages }}
    <div class="books-container">
      <iframe src="{{ .Params.link }}"></iframe>
      <div class="books-card">
        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        {{ if eq .Params.Status "Completed" }}
        <div>
          <span>Status: Completed</span>
          <br>
          <span>Publication Date: {{ .Date.Format "January 2, 2006" }}</span>
        </div>
        {{ else if eq .Params.Status "WIP" }}
        <div>
          <span>Status: WIP</span>
          <br>
          <span>Last Updated: {{ .Date.Format "January 2, 2006" }}</span>
        </div>
        {{ end }}
        <hr>
        <p>{{ .Params.description }}</p>
        <div class="books-card-btns">
          <a href="{{ .Permalink }}" class="btn1 btn-books">Read More</a>
          <a href="{{ .Params.link }}" class="btn1 btn-books">PDF</a>
          <a href="{{ .Params.link }}" class="btn1 btn-books">Source (Git)</a>
        </div>
      </div>
    </div>
  {{ end }}
</section>
<br>
{{ end }}

