{{ define "main" }}
<div class="page-header">
  <h1>{{ .Params.Title }}</h1>
</div>
<section class="single-section">
  <section class="single-content-section">
    <div class="single-content">
      <iframe src="{{ .Params.link }}"></iframe>
      <div class="single-meta">
        <ul>
          <li><b>Author:</b> {{ .Params.Author }}</li>
          {{ if eq .Params.Status "Completed" }}
          <li><b>Status:</b> Completed</li>
          <li><b>End Date:</b> {{ .Date.Format "January 2, 2006" }}</li>
          {{ else if eq .Params.Status "WIP" }}
          <li><b>Status:</b> WIP</li>
          <li><b>Last Updated:</b> {{ .Date.Format "January 2, 2006" }}</li>
          {{ end }}
          <li><b>Total Views:</b>
            <span id="view-count">Loading...</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="single-description">
      <h3>About</h3>
      {{ .Content }}
      <h3>Access the Book</h3>
      <hr>
      <div class="single-meta-access-book">
        {{ range .Params.links }}
          <a href="{{ .url }}" class="btn1">{{ .name }}</a>
        {{ end }}
      </div>
    </div>
  </section>

  <section class="giscus"></section>
  <script src="https://giscus.app/client.js"
          data-repo="enochyu-official/NanumLearn"
          data-repo-id="R_kgDOT8Ajtg"
          data-category="General"
          data-category-id="DIC_kwDOT8Ajts4DDnw6"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="bottom"
          data-theme="preferred_color_scheme"
          data-lang="en"
          crossorigin="anonymous"
          async>
  </script>

  <section class="single-nav">
    <nav class="post-navigation">
      <div class="nav-buttons">
        {{ with .NextInSection }}
        <a href="{{ .Permalink }}" class="nav-button">
          <div class="nav-label">
            Previous <i class="fas fa-arrow-left"></i>
          </div>
          <div class="nav-title">{{ .Title }}</div>
        </a>
        {{ end }}

        {{ with .PrevInSection }}
        <a href="{{ .Permalink }}" class="nav-button nav-next">
          <div class="nav-label"><i class="fas fa-arrow-right"></i> Next</div>
          <div class="nav-title">{{ .Title }}</div>
        </a>
        {{ else }}
        <div></div>
        {{ end }}
      </div>
    </nav>
  </section>
</section>
{{ end }}

